<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular Employees</title>
</head>
<body ng-app="EmployeeMgmt">
    <header><h1>Angular Employees</h1></header>

    <section ng-controller="EmployeeCtrl">
        
        <h2>New Employee</h2>
        <form ng-submit="addEmployee()">
            First Name <input type="text" ng-model="newEmployeeFirstName">
            Last Name <input type="text" ng-model="newEmployeeLastName"><br>
            <button>Add New Employee</button>
        </form>
        
        <div>
            <h2>Current Employees</h2>
            <ul ng-repeat="(key, currentEmployee) in employees">
                <li ng-if="currentEmployee.employmentEnd === 0">{{ currentEmployee.firstName }} {{ currentEmployee.lastName }} {{ currentEmployee.employmentStart }}
                    <button ng-click="fireEmployee(currentEmployee, key)">Fire Employee</button>
                    <button ng-click="deleteEmployee(key)">Delete Employee</button>
                </li>
            </ul>
        </div>
        
    </section>

    
    <script src="lib/node_modules/angular/angular.min.js"></script>
    <script src="./app/EmployeeCtrl.js"></script>
</body>
</html>