<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NSS Starter Kit - Angular</title>
  <link href="styles.css" rel="stylesheet">
</head>

<body ng-app="EmployeeApp">

    <!-- add an ng-include directive and the route URL here with an nav.html partial. NavCtrl has alignment, isAuthenticated, logout, etc.  -->
    <nav ng-include="'app/navigation/partials/navigation.html'"></nav>

    <div ng-view></div>

    <nav ng-include="'app/navigation/partials/footer.html'"></nav>
    
    <!-- follow this order when listing scripts -->
    <!-- angular -->
    <script src="./lib/node_modules/angular/angular.min.js"></script>
    <!-- firebase -->
    <script src="./lib/node_modules/firebase/firebase.js"></script>
    <!-- angular route -->
    <script src="./lib/node_modules/angular-route/angular-route.min.js"></script>
    <!-- app.js -->
    <script src="./app/app.js"></script>
    <!-- configuration -->
    <script src="./app/app.config.js"></script>
    
    <!-- factories -->
    <script src="./app/auth/factories/AuthFactory.js"></script>
    <script src="./app/auth/controllers/AuthCtrl.js"></script>
    
    <!-- controllers -->
    <script src="./app/navigation/controllers/NavCtrl.js"></script>
    <script src="./app/employees/factories/EmployeeFactory.js"></script>
    <script src="./app/employees/controllers/EmployeeListCtrl.js"></script>
    <script src="./app/employees/controllers/EmployeeCreateCtrl.js"></script>
    <script src="./app/employees/controllers/EmployeeDetailCtrl.js"></script>

</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular Employees</title>
</head>
<body ng-app="EmployeeMgmt">
    <div ng-view></div>

    <header><h1>Angular Employees</h1></header>

    <section ng-controller="EmployeeCtrl">
        
        <h2>New Employee</h2>
        <form ng-submit="addEmployee()">
            First Name <input type="text" ng-model="newEmployeeFirstName">
            Last Name <input type="text" ng-model="newEmployeeLastName"><br>
            <button>Add New Employee</button>
        </form>
        
        <div>
            <h2>Current Employees</h2>
            <ul ng-repeat="(key, currentEmployee) in employees">
                <li ng-if="currentEmployee.employmentEnd === 0">{{ currentEmployee.firstName }} {{ currentEmployee.lastName }} {{ currentEmployee.employmentStart }}
                    <button ng-click="fireEmployee(currentEmployee, key)">Fire Employee</button>
                    <button ng-click="deleteEmployee(key)">Delete Employee</button>
                </li>
            </ul>
        </div>
        
    </section>

    
    <script src="lib/node_modules/angular/angular.min.js"></script>
    <script src="./app/EmployeeCtrl.js"></script>
</body>
</html> -->