<a href="#!/employees/list">List Employees</a>

<section>
    
    <h2>Add New Employee</h2>
    <form ng-submit="addEmployee()">
    
        <div>
            First name: <input type="text" ng-model="newEmployee.firstName" />
        </div>
        <br>
        <div>
            Last Name: <input type="text" ng-model="newEmployee.lastName" />
        </div>
        <br>
        <button ng-click="hireEmployee()">Hire Employee</button>
    </form>
    
    <h2>Current Employees</h2>
    <div ng-repeat="person in employees | filter: {employmentEnd: 0}:true">
        {{ person.firstName }} {{ person.lastName }}
    </div>

</section>
