<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <section>
            <div>
                First name: <input type="text" ng-model="newEmployee.firstName" />
            </div>

            <div>
                Last Name: <input type="text" ng-model="newEmployee.lastName" />
            </div>
            <button ng-click="hireEmployee()">Hire Employee</button>
        </section>

        <script src="./app/employees/controllers/EmployeeCreateCtrl.js"></script>
</body>
</html>